body, html {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

/* LES PARAMETRES DE LA BARRE DE HAUT */

/* Ajustement du bouton de zoom au niveau voulu */
.leaflet-control-zoom {
  top: 130px; 
}

/* Parametre de la barre de haut */
.topbar {
  position: absolute;
  top: 10px;
  left: 45px;
  width: 90%;
  height: 50px;
  background: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Parametre du texte de la barre de haut */
.topbar .name {
  font-weight: bold;
  font-size: 20px;
}

/* Parametre du boutton contact en haut a droite sur la barre de haut */
.Contact {
  background: linear-gradient(45deg, #237bdf, #2fe6ec);
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
}

/* LES PARAMETRES DE LA BARRE DE GAUCHE */

/*Configuration du sidebar ou barre de gauche*/
.toggle-sidebar {
  position: absolute;
  top: 80px;
  left: 20px;
  z-index: 1001;
  background: rgba(0, 123, 255, 0.80);
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Affichage de la barre de gauche */
.sidebar.hidden {
  display: none;
}

/* Toute la barre de gauche */
.sidebar {
  position: absolute;
  top: 80px;
  left: 20px;
  background: rgba(254, 255, 255, 0.3);
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  z-index: 999;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  font-size: 14px;
}

/* Formatage des titres du 3eme niveau */
.sidebar h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}

#categorie{
  padding: 6px; 
  border-radius: 6px; 
  border: 1px solid #ccc; 
  width: 100%; 
  max-width: 300px;
}

/* Bare de recherche */
#search{
  padding: 8px; 
  border: 1px solid #ccc; 
  border-radius: 6px;
  width: 93%; 
  max-width: 300px; 
  margin-top: 1px;
}

.search-container {
  position: relative;
  width: 95%;
}

.search-container input[type="text"] {
  width: 100%;
  padding: 8px 32px 8px 12px; /* espace pour l’icône à droite */
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-container .search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* empêche le clic sur l’icône */
  font-size: 10px;
  color: #667;
}

/* ASPECTS RESPONSIVES DE LA PAGE */

/*Responsive : écran moyen (PC) */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .topbar{
    font-size: 9px;
    width: 89%;
  }

  .sidebar {
    width: 320px;
    padding: 15px;
    font-size: 16px;
  }
}

/*Responsive : petit écran (Tablettes) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .topbar{
    font-size: 9px;
    width: 83%;
  }

  .sidebar {
    width: 25%;
    left: 5%;
    top: 80px;
    font-size: 14px;
    padding: 12px;
  }

  .sidebar h3 {
    font-size: 12px;
  }

  .sidebar label {
    display: block;
    margin-bottom: 7px;
  }
}

/*Responsive : petit écran (Telephones) */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .topbar{
    width: 77%;
    font-size: 12px;
  }

  .sidebar {
    width: 25%;
    left: 5%;
    top: 80px;
    font-size: 12px;
    padding: 10px;
  }

  .sidebar h3 {
    font-size: 14px;
  }
}