<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Centre des affaires de Lubumbashi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  </head>
  <body>

    <h1>{{ status }}</h1>
    <!--Affichage de la barre de haut-->
    <div class="topbar">
      <h3 class="logo">Centre des affaires de Lubumbashi</h3>
      <button class="Contact">Contact</button>
    </div>

    <!--Affichage de la carte-->
    <div id="map"></div>

    <!--Ajout d'un bouton pour afficher et masquer le menu de gauche-->
    <button class="toggle-sidebar" aria-label="Afficher/Masquer le menu">☰</button>

    <!--Menu de gauche-->
    <div class="sidebar">
      <h3 for="categorie"><strong>Catégories</strong></h3>
      <select id="categorie" name="categorie">
        <option value="tous" selected>Tous les commerces</option>
        <option value="alimentations">Alimentations</option>
        <option value="equipements">Équipements</option>
        <option value="habillements">Habillements</option>
        <option value="hotels">Hôtels - Restaurants - Cafés</option>
        <option value="loisirs">Loisirs - Luxe - Culture</option>
        <option value="services">Services</option>
      </select>

      <!--Affichage de la barre de recherche-->
      <h3 for="search"><strong>Rechercher</strong></h3>
        <input type="text" id="search" name="search" placeholder="Ecrivez le nom du magasin...">

      <!--Affichage du bouton de telechargement des donnees-->
      <h3><strong>Export</strong></h3>
      <div class="Export">
        <button>GeoJSON</button>
        <button>GeoPackage</button>
      </div>

      <!--Partie pour renseigner le mail afin d'y envoyer les donnees-->
      <h3><strong>E-mail</strong></h3>
      <input id='email' type="email" value="mauricekanama1@gmail.com">

      <button class="export-btn">Export data</button>
    </div>

  
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.js"></script>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>

    <script src="{{url_for('static', filename='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/L.Geoserver.js')}}"></script>

    <script>
    document.querySelector('.toggle-sidebar').addEventListener('click', function () {
      const sidebar = document.querySelector('.sidebar');
      sidebar.classList.toggle('hidden');
    });
    </script>

  </body>
</html>