<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Centre des affaires de Lubumbashi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <!-- Link CSS realiser -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}"> 

    <!-- Ajout d'une adresse afin de personnaliser mes icones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  </head>
  <body>

    <!-- BARRE HORIZONTAL EN HAUT -->

    <!--Affichage de la barre de haut-->
    <section class="topbar">
      <h2 class="name">Centre des affaires de Lubumbashi</h2>
      <button class="Contact">Contact</button>
    </section>

    <!--Affichage de la carte-->
    <div id="map"></div>

    <!-- SIDEBAR DE GAUCHE -->

    <!--Ajout d'un bouton pour afficher et masquer le menu de gauche-->
    <button class="toggle-sidebar" aria-label="Afficher/Masquer le menu">☰</button>

    <!--Menu de gauche-->
    <section class="sidebar">
      <h3><strong>Catégories</strong></h3>
      <select id="categorie" name="categorie">
        <option value="" selected>-- Choisis une catégorie --</option>
        <option value="Alimentation">Alimentations</option>
        <option value="Equipements">Équipements</option>
        <option value="Habillement">Habillements</option>
        <option value="Hôtels - Restaurants - Cafés">Hôtels - Restaurants - Cafés</option>
        <option value="Loisirs - Luxe - Culture">Loisirs - Luxe - Culture</option>
        <option value="Services">Services</option>
      </select>

      <!--Affichage de la barre de recherche-->
      <h3><strong>Recherche</strong></h3>
      <div class="search-container">
        <input type="text" id="search" name="search" placeholder="Ecrivez un nom (magasin, avenue, etc.)" aria-label="Rechercher un lieu" autocomplete="off">
        <span class="search-icon">🔍</span>
      </div>

      <!-- Liste dynamique des recherches -->
       <ul id="searchResults" class="search-results"></ul>

      <!-- Boutton de reinitialisation des options de recherches -->
      <button id="resetFilters" class="reset-button">Réinitialiser les filtres</button>

    </section>


    <!-- SIDEBAR DE DROITE -->

    <section class="right-tools" id="rightSidebar">
      <div class="right-content">
        
        <!-- Boutons de zoom -->
        <div class="zoom-controls">
          <button id="zoomIn" title="zoom avant"><i class="fas fa-plus"></i></button>
          <button id="zoomOut" title="zoom arrière"><i class="fas fa-minus"></i></button>
        </div>

        <!-- Bouton pour zoom étendu -->
        <div class="zoom-extent">
          <button id="zoomExtentBtn" title="Vue d'ensemble"><i class="fas fa-expand"></i></button>
        </div>


        <!-- Boutons des fonds des cartes -->
        <div class="basemap-switcher">
          <button id="baseLayerBtn" title="Changer le fond de carte"><i class="fas fa-layer-group"></i></button>
          <ul id="basemapMenu" class="basemap-menu hidden">
            <li data-layer="osm">OpenStreetMap</li>
            <li data-layer="esri">ESRI Satellite</li>
          </ul>
        </div>

        <!-- Bouton pour la modification des donnees -->
        <div class="editing-tools">
          <button id="addPointBtn" title="Ajouter un point"><i class="fas fa-map-marker-alt"></i></button>
          <button id="editPointBtn" title="Modifier un point"><i class="fas fa-pen"></i></button>
        </div>

        
      </div>
    </section>

    <!-- LIEN JavaScripts -->
    <!-- Lien avec les fichiers JavaScript -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>

  </body>
</html>