<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Centre des affaires de Lubumbashi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

    <!-- Ajoute de Leaflet.draw pour l'edition des couches -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
  </head>
  <body>
    <!--Affichage de la barre de haut-->
    <div class="topbar">
      <h3 class="logo">Centre des affaires de Lubumbashi</h3>
      <button class="Contact">Contact</button>
    </div>

    <!--Affichage de la carte-->
    <div id="map"></div>

    <!--Ajout d'un bouton pour afficher et masquer le menu de gauche-->
    <button class="toggle-sidebar" aria-label="Afficher/Masquer le menu">☰</button>

    <!--Menu de gauche-->
    <div class="sidebar">
      <h3><strong>Catégories</strong></h3>
      <select id="categorie" name="categorie">
        <option value="tous" selected>Tous les commerces</option>
        <option value="alimentations">Alimentations</option>
        <option value="equipements">Équipements</option>
        <option value="habillements">Habillements</option>
        <option value="hotels">Hôtels - Restaurants - Cafés</option>
        <option value="loisirs">Loisirs - Luxe - Culture</option>
        <option value="services">Services</option>
      </select>

      <!--Affichage de la barre de recherche-->
      <h3><strong>Rechercher</strong></h3>
        <input type="text" id="search" name="search" placeholder="Ecrivez le nom du magasin...">

      <!--Affichage du bouton de telechargement des donnees-->
      <h3><strong>Export</strong></h3>
      <div class="Export">
        <button id="btnGeoJSON" type="button">GeoJSON</button>
        <button id="btnGeoPackage" type="button">GeoPackage</button>
      </div>

      <!--Partie pour renseigner le mail afin d'y envoyer les donnees-->
      <h3><strong>E-mail</strong></h3>
      <input type="email" id='email' name="email" placeholder="mauricekanama1@gmail.com">

      <button class="export-btn">Export data</button>
    </div>

  
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
    <script src="{{ url_for('static', filename='js/leaflet-commande.js')}}"></script>
    

  </body>
</html>